#header {
      background: #003333;
      height: 230px;
}

.header_title {
      
      top: 5%;
      color: #666666;
      width: 100%;
}

.header_title_name {
      background: #00cc00;
      right: 50px
      width: 100%;
      font-size: 70px;
}

.header_title_position {
      font-size: 30px;
}

#avatar {
      position: absolute; 
      right: 50px; 
      top: 30px;
      width: 15%;
}

#icon {
      position: absolute; 
      right: 50px; 
      top: 500px;
      width: 25%;
      transform: rotate(-45deg);
}

#left_content_div {
      float: left; 
      width: 70%;
}

.content_section {
      margin: 30px;
}
.section_title {
      background: #66ff66;
      font-size: 30px;
      color: #006600;
      width: 100%;
      display: inline-block;
}

 
#content {
      background: #009933;
      height: 500px;
}

#footer {
      background: #003300;
      height: 150px;
}